<nav>
  <div class="corner-title">
    <h1>I NEED DIGS.</h1>
  </div>

  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
<ul class="nav-links">
  <li><a href="">Become a Host</a></li>
  <li><a href="">Join us</a></li>
  <li><a href="">Log in</a></li>
  <li><a href="">Help</a></li>
</ul>
</nav>

