
<%= image_tag 'Homepage', :class => 'homepage-image'%>
<div class="searchbox">
  <p> Find incredible digs for your next venue now </p>
  <%=  form_tag properties_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "search-elements", placeholder: "Where?" %>
    <%= submit_tag "Search", class: "search-button" %>
    <% end %>

</div>
<div class="home-main">
<h1>NEVER DIRTY</h1>
<h1>NEVER UNSAFE</h1>
<h1>NEVER OVER TOURING ALLOWANCE</h1>
<h1>PROFESSIONAL</h1>
<h1>AFFORDABLE</h1>
<H1>BY</H1>
<H1>AND</H1>
<H1>FOR</H1>
<H1>Theatre</H1>
</div>
